[user]
	name = Hana Lee
	email = hana@auderenow.org
[color]
	ui = true
[core]
	excludesfile = /Users/hanalee/.gitignore
  whitespace = fix,trailing-space
[init]
	templateDir = ~/.config/git/template
	defaultBranch = main
